<style>
    .error{
        color: red;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 2px;
    }
</style>

{% if form.errors %}
<div class="row mt-3">
    <div class="col-12">
        <div class="card bg-light mb-2 search-card">
            <div class="card-body">
                <div style="width: 60%;float: left;">
                    <h5 class="card-title">에러 메세지</h5>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="card-text error">{{ error|escape }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
         </div>
    </div>
</div>
{% endif %}