{% extends "Base/Base.html" %}
{% load static %}

{% block content %}
<div class="container">
	<div class="mt-2"></div>
	{% include './LoginHeader.html' %}

	<div class="row mt-1">
	    <div class="col-12">
	        <div class="card bg-light mb-2 search-card">
	            <div class="card-body m-auto  mt-3">
			        <form method="post">
			        {% csrf_token %}
			        	<table>
			        		<tbody>
			        			<tr>
			        				<th>
			        					<label for="id_username">아이디 :</label>
			        				</th>
			        				<td>
			        					<input class="form-control form-control-sm mb-1" type="text" name="username" required="" id="id_username" autocomplete="off">
			        				</td>
			        			</tr>
								<tr>
									<th>
										<label for="id_password">비밀번호 :</label>
									</th>
									<td>
										<input class="form-control form-control-sm mb-1" type="password" name="password" autocomplete="off" required="" id="id_password">
									</td>
								</tr>
			        		</tbody>
			        	</table>
						<button class="btn btn-primary w-100 mt-3" type="submit">로그인</button>
			        </form>
	            </div>
	         </div>
	    </div>
	</div>


	
</div>


{% endblock%}