{% extends "Base/Base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'Home/css/style.css' %}">

<div class="jumbotron">
	<div class="jumbotron-inner">
		<div class="invitation">
			<p class="invitation-text-md">다양한 목소리를 만나보세요</p>
			<h1 class="invitation-heading">프리랜서 성우 중개 플랫폼</h1>
			<p class="invitation-text-sm"></p>
			<a class="btn btn-info" href="{% url 'App:add-projects' %}">프로젝트 등록하기</a>
		</div>
	</div>
</div>

{% include './ProjectList.html' %}

{% endblock%}